:root {
    // background colours
    --darkBlue: #1F222C;  // sidebar background
    --greyBlue: #3C4253; // dashboard elem
    --darkElem: #333948; // dark dashboard elem
    --dashBG: #2B303E; // dashboard background

    // unique colours
    --hotPink: #ff69b4; // hotpink
    --white: #fff;
    --searchBar: #4B526A;
    --taskListEvenBox: #495165;

    // text colours
    --ghost: #E6E6E6; // title text
    --grey: #B5BCCE; // paragraph text
    --lightGrey: #b9b6b6; // placeholder
    --paleBlue: #939AAC; // dashboard para text colour

    // primary/secondary colours
    --purple: #8e72d6; // primary
    --green: #00BA9E; // secondary
    --pink: #BDA3F0; // secondary
}

[data-theme = "dark"] {
    --darkBlue: #efefef;  // sidebar background
    --greyBlue: #cfd4d4; // dashboard elem
    --darkElem: #e3e9e9; // dark dashboard elem
    --dashBG: #fff; // dashboard background

    --white: #343434;
    --searchBar: #AABABA;
    --taskListEvenBox: #a7abab;

    --ghost: #292922; // title text
    --grey: #536390; // paragraph text
    --lightGrey: #4B526A; // placeholder
    --paleBlue: #424242; // dashboard para text colour
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

.dashboard .dashboardElems {
    display: block;
    width: 100%;
}

// .dashboard .elements-tr {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     background: pink;
// }

// .dashboard .elements-br {
//     display: flex;
//     flex-wrap: wrap;
//     background: yellow;
// }

// If screen size is bigger than standard 15" display

@media only screen and (min-width: 1500px),
screen and (min-height: 800px) {
    .dashboard {
        .weekly-tasks,
        .timers,
        .cal-container {
            height: 440px !important;
        }

        .music-player,
        .project-overview,
        .acronyms,
        .achievements {
            height: 441px !important;
        }

    }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px),
screen and (max-height: 799px) {
    .dashboard {
        .weekly-tasks,
        .timers,
        .cal-container {
            height: 343px !important;
        }

        .music-player,
        .project-overview,
        .acronyms,
        .achievements {
            height: 343px !important;
        }


        .projectDueDate {
            font-size: 30px !important;
        }

        .timers {
            padding-bottom: 0px !important;
            .pom-wrapper {
                .head-wrapper {
                    height: 25% !important;
                }
                .pTimer-container {
                    height: 50% !important;

                    #pClock {
                        width: 180px !important;
                        height: 180px !important;
                        top: 90% !important;
                        #pTimer {
                            font-size: 20px !important;
                        }
                    }
                }
                
            }
        }
    }
}

/* Resizing Navbar Top */

@media only screen and (min-width: 1700px) {
    .dashboard .top_heading {
        width: 55%;
    }
}

@media only screen and (min-width: 1550px) and (max-width: 1699px) {
    .dashboard .top_heading {
        width: 45%;
    }
}

/* Breakpoint Notifcation */

@media only screen and (min-width: 700px) and (max-width: 1300px) {
    .dashboard {
        opacity: 0 !important;
    }

    .sidebar {
        opacity: 0 !important;
    }
}

/* Mobile Layout */

@media only screen and (max-width: 700px) {
    .sidebar {
        opacity: 0 !important;
    }

    .topbar {
        display: none !important;
    }

    .dashboard {
        width: 100% !important;
        left: 0px !important;
        .dashboardElems {
            display: flex !important;
            flex-direction: column !important;
            .weekly-tasks {
                width: 93% !important;
                height: 440px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            .timers {
                width: 100% !important;
                height: 380px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            .cal-container {
                width: 100% !important;
                height: 370px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            .achievements {
                display: none !important;
            }
            .music-player {
                width: 100% !important;
                height: 420px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            .acronyms {
                width: 100% !important;
                height: 420px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
            .project-overview {
                width: 100% !important;
                height: 500px !important;
                padding-left: 20px !important;
                padding-right: 20px !important;

                .gridBox {
                    grid-template-columns: repeat(9, 1fr) !important;
                    grid-template-rows: auto !important;
                    overflow: none !important;
                }
            }
        }
    }
}

// DEV BOXES HIGHLIGHTS

// .weekly-tasks, .pom-timer, .cal-container, 
// .achievements, .music-player, .acronyms, .project-overview { // dev feature ~ shows dashboard boxes highlight when building site  
//     border: 1px pink solid;
// }

// .task-wrapper, .pom-wrapper, .cal-wrapper, 
// .ach-wrapper, .mus-wrapper, .acr-wrapper, .proj-wrapper { // dev feature ~ shows dashboard boxes highlight when building site  
//     border: 1px red solid;
// }