/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* Font Weight Organiser
    
    font-weight: 100; // Extralight
    font-weight: 300; // Light
    font-weight: 400; // Normal
    font-weight: 500; // Medium
    font-weight: 600; // Semi-Bold
    font-weight: 700; // Bold
*/