/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

/*---------*/
/*---------*/
/* SIDEBAR */
/*---------*/
/*---------*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #1F222C;
    padding: 12px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.line-split {
    width: 75%;
    border: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    margin: 10% !important;
}

.sidebar .navlink .active { /* changes colour of item icon when it is active */
    color: #8e72d6 !important;
}

.sidebar.open .navlink .activeX { /* changes colour of item name when it is active */
    color: #8e72d6 !important;
    font-weight: 600 !important;
}

.sidebar .navlink:hover .active,
.sidebar .navlink:hover .activeX { /* allows active colour to return to normal on hover */
    color: #1F222C !important;
    font-weight: 400 !important;
    transition: all 0.5s ease-in !important;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon { /* adjusting logo icon colour */
    color: hotpink;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #E6E6E6; /* Changes Navbar Icon Colour */
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

/*.sidebar li .ft {  ft ~ focus tooltip 
    background: #de1592;
    color: #FFF;
} */

.sidebar li .navlink {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #1F222C;
}

.sidebar li .navlink:hover {
    background: #FFF;
}

.sidebar li .navlink .links_name {
    color: #E6E6E6; /* Changes Navbar Link Colour */
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li .navlink .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li .navlink:hover .links_name,
.sidebar li .navlink:hover i {
    transition: all 0.5s ease;
    color: #1F222C;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.focus_info {
    display: flex;
    position: fixed;
    height: 80px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #333948;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.focus_info {
    margin: auto;
    position: relative;
    margin-top: 20px !important;
    width: 190px;
    height: 180px;
    border-radius: 10px;
}

.sidebar.open li.focus_info #f_icon {
    opacity: 0;
}

.sidebar li .focus-details {
    display: inline-block;
    width: 100%;
    opacity: 0;
    margin-top: 2%;
}

.sidebar.open li .focus-details {
    opacity: 1;
}

.focus_content {
    justify-content: center;
    align-items: center;
}

.f_icon {
    font-size: 25px !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 1%;
}

.sidebar li.focus_info .title,
.sidebar li.focus_info .tagline {
    font-size: 16px;
    font-weight: 600;
    color: #B5BCCE;
    padding: 2%;
    text-align: center;

}
.sidebar li.focus_info .tagline {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    font-weight: 400;
    padding-top: 10px;
}

.sidebar .focus_info #f_icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #333948;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
    cursor: pointer !important;
}

.sidebar.open .focus_info #f_icon {
    width: 50px;
    background: none;
}

/*-------------------*/
/*-------------------*/
/* DASHBOARD CONTENT */
/*-------------------*/
/*-------------------*/

.dashboard {
    position: relative;
    background: #2B303E;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;

    /* border: 2px orange solid; */
}

.sidebar.open ~ .dashboard { /* Enables dashboard to move left/right with navbar slider */
    left: 250px;
    width: calc(100% - 250px);
}

/*------------*/
/*------------*/
/* TOP NAVBAR */
/*------------*/
/*------------*/

.dashboard .topbar {
    display: flex; /* allows divs to display next to eachother */ 
    padding: 5px;
    padding-top: 10px;
    /* border: 2px pink solid; */
}

.dashboard .top_heading {
    /* border: 2px violet solid; */
    width: 35%;
}

.dashboard .topbar .top-tite {
    color: #E6E6E6;
    font-size: 15px;
    font-weight: 600;
    margin-left: 25px;
    margin-top: 18px;
    margin-bottom: 5px;
}

.dashboard .topbar .top-date {
    display: flex;
}

.dashboard .topbar .top-date #current_day,
.dashboard .topbar .top-date #current_date{
    color: #8e72d6;
    font-size: 13px;
    font-weight: 500;
    margin-left: 25px;
    margin-bottom: 12px;
}

.dashboard .topbar .top-date #current_date {
    color: #939AAC;
    margin-left: 6px;
}

.dashboard .top-icons-help {
    display: flex;
    /* border: 2px green solid; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 17px;
}

.dashboard .top-icons-help .tih-link .feedback-title,
.dashboard .top-icons-help .tih-link .help-title {
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #E6E6E6;
    font-size: 12px;
    font-weight: 400;
}

.dashboard .top-icons-help .tih-link .help-title {
    margin-left: 20px;
    margin-right: 20px;
}

.dashboard .top-icons-help .tih-link .feedback-title:hover,
.dashboard .top-icons-help .tih-link .help-title:hover {
    color: #f4f4f4;
    transition: 0.2s ease;
}

.dashboard .top-icons-help .tih-link {
    text-decoration: none;
}

.dashboard .top-icons-help i {
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #E6E6E6; /* Changes Navbar Icon Colour */
    min-width: 45px;
    font-size: 24px;
    text-align: center;
}

.dashboard .top-searchbar {
    /* border: 2px blue solid; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding-top: 17px;
}

.dashboard .top-searchbar input {
    font-size: 13px;
    color: rgb(230, 230, 230);
    font-weight: 400;
    outline: none;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 0px 65px 0px 20px;
    transition: all 0.5s ease;
    background: #4B526A;
}

.dashboard .top-searchbar input::placeholder {
    color: rgb(230, 230, 230, 0.5);
    font-weight: 300;
}

.dashboard .top-searchbar #searchbar {
    position: absolute;
    top: 65%;
    right: 0;
    transform: translateY(-55%);
    width: 40px;
    height: 50px;
    font-size: 22px;
    line-height: 50px;
    border-radius: 0 12px 12px 0;
    background: #4B526A;
    color: rgba(152, 156, 168, 0.5);
}

.dashboard .top-account {
    display: flex;
    /* border: 2px green solid; */
    padding-left: 35px;
    padding-right: 20px;
    padding-top: 17px;
    width: 24%;
}

.dashboard .top-account .account-wrapper {
    /* border: 2px yellow solid; */
    display: flex;
    width: 100%;
}

.dashboard .top-account .account-wrapper #user_img {
    position: relative;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(189,163,240,0.8); 
    box-shadow: 0px 0px 10px 2px rgba(189,163,240,0.8);
}

.dashboard .top-account .account-wrapper .account-details {
    position: relative;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
}

.dashboard .top-account .account-wrapper .account-details .name {
    color: #E6E6E6;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 8px;
}

.dashboard .top-account .account-wrapper .account-details .occupation {
    color: #B5BCCE;
    font-size: 11px;
    font-weight: 500;
}

.dashboard .top-account .account-wrapper i {
    position: relative;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    color: #E6E6E6; /* Changes Navbar Icon Colour */
    height: 25px;
    min-width: 40px;
    font-size: 24px;
    text-align: center;
}

/*----------*/
/*----------*/
/* ELEMENTS */
/*----------*/
/*----------*/

.dashboard .elements-tr {
    display: flex;
    /* border: 2px pink solid; */
}

.dashboard .elements-br {
    display: flex;
    /* border: 2px pink solid; */
}

/*--------------*/
/*--------------*/
/* WEEKLY TASKS */
/*--------------*/
/*--------------*/

.dashboard .elements-tr .weekly-tasks {
    display: flex; /* allows divs to display next to eachother */ 
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 10px;
    /* border: 2px pink solid; */
    width: 46%;
    height: 350px;
}

.dashboard .elements-tr .weekly-tasks .task-wrapper {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* border: 2px pink solid; */
    background: #3C4253;
    border-radius: 20px;
}

.dashboard .elements-tr .weekly-tasks .task-wrapper .head-wrapper {
    display: flex;
    width: 100%;
    height: 11.5%;
    /* border: 1px pink solid; */
}

.dashboard .elements-tr .weekly-tasks .task-wrapper .head-wrapper .title {
    width: 70%;
    color: #E6E6E6;
    font-weight: 600;
    font-size: 17px;
    margin-top: 5px;
    /* background-color: red; */
}

.dashboard .elements-tr .weekly-tasks .task-wrapper .head-wrapper .button {
    display: flex;
    width: 30%;
    /* border: 2px pink solid; */
}

.dashboard .elements-tr .weekly-tasks .task-wrapper .head-wrapper .button .tag-text {
    background: #333948;
    color: #E6E6E6;
    width: 100%;
    padding: 7px;
    padding-left: 15px;
    border-radius: 3px 0px 0px 3px;
}

.dashboard .elements-tr .weekly-tasks .task-wrapper .head-wrapper .button .tag-text .btn-text {
    font-family: "Nunito" , sans-serif;
    font-size: 12px;
}

/*---------------*/
/*---------------*/
/* POMODOR TIMER */
/*---------------*/
/*---------------*/

.dashboard .elements-tr .pom-timer {
    display: flex; /* allows divs to display next to eachother */ 
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    /* border: 2px pink solid; */
    width: 29%;
    height: 350px;
}

.dashboard .elements-tr .pom-timer .pom-wrapper {
    display: flex; /* allows divs to display next to eachother */ 
    padding: 20px;
    width: 100%;
    height: 97%;
    /* border: 2px pink solid; */
    background: #3C4253;
    border-radius: 20px;
}

/*----------*/
/*----------*/
/* CALENDER */
/*----------*/
/*----------*/

.dashboard .elements-tr .calender {
    display: flex; /* allows divs to display next to eachother */ 
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    /* border: 2px pink solid; */
    width: 25%;
    height: 350px;
}

.dashboard .elements-tr .calender .cal-wrapper {
    display: inline-block; /* allows divs to display underneath eachother */ 
    width: 100%;
    height: 95%;
    /* border: 2px pink solid; */
    border-radius: 20px;
}

.dashboard .elements-tr .calender .cal-wrapper .cal-box {
    display: flex; /* allows divs to display next to eachother */ 
    padding: 20px;
    width: 100%;
    height: 89%;
    /* border: 2px pink solid; */
    background: #3C4253;
    border-radius: 20px;
}

.dashboard .elements-tr .calender .cal-wrapper .cal-text {
    padding-left: 20px;
    padding-top: 11px;
    margin-bottom: 10px;
    width: 100%;
    height: 13%;
    /* border: 2px pink solid; */
    border-radius: 20px;
}

/*--------------*/
/*--------------*/
/* ACHIEVEMENTS */
/*--------------*/
/*--------------*/

.dashboard .elements-br .achievements {
    display: flex; /* allows divs to display next to eachother */ 
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 10px;
    /* border: 2px pink solid; */
    width: 18%;
    height: 350px;
}

.dashboard .elements-br .achievements .ach-wrapper {
    display: flex; /* allows divs to display next to eachother */ 
    padding: 20px;
    width: 100%;
    height: 75%;
    /* border: 2px pink solid; */
    background: #3C4253;
    border-radius: 20px;
}

/*--------------*/
/*--------------*/
/* MUSIC PLAYER */
/*--------------*/
/*--------------*/

.dashboard .elements-br .music-player {
    display: flex; /* allows divs to display next to eachother */ 
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    /* border: 2px pink solid; */
    width: 20%;
    height: 350px;
}

.dashboard .elements-br .music-player .mus-wrapper {
    display: flex; /* allows divs to display next to eachother */ 
    padding: 20px;
    width: 100%;
    height: 100%;
    /* border: 2px pink solid; */
    background: #333948;
    border-radius: 20px;
}

/*---------------*/
/*---------------*/
/* ACRONYM MAKER */
/*---------------*/
/*---------------*/

.dashboard .elements-br .acronyms {
    display: flesh; /* allows divs to display next to eachother */ 
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px !important;
    padding-right: 10px;
    /* border: 2px pink solid; */
    width: 22%;
    height: 350px;
}

.dashboard .elements-br .acronyms .acr-wrapper {
    display: inline-block; /* allows divs to display next to eachother */ 
    width: 100%;
    height: 100%;
    /* border: 2px pink solid; */
    border-radius: 20px;
}

.dashboard .elements-br .acronyms .acr-wrapper .acr-text {
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 10%;
    /* border: 2px pink solid; */
    border-radius: 20px;
    color: #B5BCCE;
}

.dashboard .elements-br .acronyms .acr-wrapper .acr-box {
    display: flex; /* allows divs to display next to eachother */ 
    padding: 20px;
    width: 100%;
    height: 87%;
    /* border: 2px pink solid; */
    background: #3C4253;
    border-radius: 20px;
}

.dashboard .elements-br .acronyms .acr-wrapper .acr-text .title {
    font-size: 12px;
}

/*------------------*/
/*------------------*/
/* PROJECT OVERVIEW */
/*------------------*/
/*------------------*/

.dashboard .elements-br .project-overview {
    display: flex; /* allows divs to display next to eachother */ 
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 25px;
    /* border: 2px pink solid; */
    width: 40%;
    height: 350px;
}

.dashboard .elements-br .project-overview .proj-wrapper {
    display: flex; /* allows divs to display next to eachother */ 
    padding: 20px;
    width: 100%;
    height: 100%;
    /* border: 2px pink solid; */
    background: #3C4253;
    border-radius: 15px;
}

@media (max-width: 420px) { /* ensures tooltil is only displayed when width is smaller than 420px */
    .sidebar li .tooltip{
        display: none;
    }
}
