/*----------*/
/*----------*/
/* CALENDER */
/*----------*/
/*----------*/

.dashboard  {
    .elements-tr {
        .cal-container {
            display: flex; /* allows divs to display next to eachother */ 
            padding-top: 20px;
            padding-left: 10px;
            padding-bottom: 10px;
            padding-right: 25px;
            width: 23%;
            height: 350px;

            .cal-wrapper {
                display: inline-block;
                width: 100%;
                height: 95%;
                border-radius: 20px;

                .cal-box {
                    display: inline-block; 
                    width: 100%;
                    height: 88%;
                    background: var(--greyBlue); 
                    border-radius: 20px;

                    .cal-top {
                        display: flex;
                        text-align: center;
                        background: #495165;
                        color: #FFFFFF;
                        height: 23.5%;
                        border-radius: 20px 20px 0px 0px;
                        /* border: 2px orange solid; */

                        .left-arrow-cal {
                            padding-top: 27px;
                            width: 20%;
                            font-size: 25px;
                            color: #FFFFFF;
                            border-radius: 20px 0px 0px 0px;
                        }

                        .month-year {
                            display: flex;
                            width: 60%;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            font-weight: 400;

                            #currMonth {
                                padding-right: 3%;
                            }
                        }

                        .right-arrow-cal {
                            padding-top: 27px;
                            width: 20%;

                            border-radius: 0px 20px 0px 0px;
                            font-size: 22px;
                            color: #FFFFFF;
                        }
                    }

                    .cal-bottom {
                        width: 100%;
                        height: 77%;
                        background: #333948;
                        border-radius: 0px 0px 20px 20px;

                        .calendar-week-day {
                            display: flex;
                            justify-content: space-between;
                            text-align: center;
                            font-weight: 400;
                            color: white;
                            font-size: 15px;
                            height: 13%;

                            padding-left: 20px;
                            padding-right: 20px;

                            padding-top: 12px;

                            div {
                                justify-content: center;
                                width: 30px;
                            }
                        }

                        .calDaysBox {
                            width: 100%;
                            height: 87%;
                            border-radius: 0px 0px 20px 20px;

                            .cal-days {
                                width: 100%;
                                height: 100%;
                                padding: 10px 5px 10px 20px;
                                justify-content: center;
    
                                .days {
                                    font-weight: 400;
                                    color: #CDD1D8;
                                    font-size: 13px;
                                    height: 100%;
                                    overflow: hidden !important;
                                    display: grid;
                                    grid-template-columns: repeat(7, 14.1%);
                                    grid-template-rows: repeat(5, 20%);

                                    div { // each day style
                                        text-align: center;
                                        width: 30px;
                                        height: 30px;
                                        padding-top: 7px;
                                        padding-left: 1px;
                                        border-radius: 20px;
                                    }

                                    #prev-month-days {
                                        opacity: 0.35;
                                    }

                                    .today { // today's date style
                                        z-index: 0;
                                        position: relative;
                                        color: var(--greyBlue);
                                        background: var(--pink);
                                        font-weight: 700;
                                    }

                                    #next-month-days {
                                        opacity: 0.35;
                                    }
                                }
                            }
                        }
                    }
                }

                .cal-legend {
                    display: flex;
                    width: 100%;
                    height: 13%;
                    color: #B5BCCE;

                    .legendPosBox {
                        padding-left: 10%;
                        padding-right: 5%;
                        width: 100%;
                        display: flex;
                        
                        .legendTitle {
                            text-align: center;
                            padding-top: 25px;
                            padding-right: 30px;
                            height: 100%;
    
                            .title {
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
    
                        .currDateKey {
                            display: flex;
                            text-align: center;
                            padding-top: 25px;
                            padding-right: 20px;
    
                            .subtitle {
                                font-size: 11px;
                                font-weight: 500;
                                margin-top: 1px;
                            }
                            
                            .key {
                                font-size: 15px;
                                margin-right: 10px;
                            }
                        }
    
                        .upcomDateKey {
                            display: flex;
                            text-align: center;
                            padding-top: 25px;
    
                            .subtitle {
                                font-size: 11px;
                                font-weight: 500;
                                margin-top: 1px;
                            }
    
                            .key {
                                font-size: 15px;
                                margin-right: 10px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
